<section class="add-form">
  <form action="/add-recipe" method="POST" class="ingredients bg-form" enctype="multipart/form-data">
    <div class="title-form">
      <h2>Insert your recipies</h2>
    </div>
    <input type="text" name="name" placeholder="Recipe"><br />
    <input type="text" name="region" placeholder="Region" class="input"><br />

    {{!-- <label for="country-select" class="input">Select a country:</label>

    <select id="country-select">
      <option value="">--Please choose a country--</option>
      {{#each country}}<option value="{{this._id}}">{{this.name}}</option>{{/each}}
    </select> --}}

    <textarea name="description" id="" cols="30" rows="10" placeholder="Description"></textarea><br />
    <textarea name="ingredients" id="" cols="30" rows="10" placeholder="Ingredients"></textarea><br />
    <input type="file" class="btn-add-img" name="image" /><br />
    <button class="submit-btn">Submit</button>
  </form>
</section>