<nav class="nav">
  <div class="container">
    <div class="flex-elem">
      <a href="/">
        <div class="logo">TASTEOFTHEWORLD</div>
      </a>
      <ul class="flex-item center">
        <li class="nav-item"><a href="/favourite-foods">Favourite foods</a></li>
        <li class="nav-item"><a href="/add-recipies">Add recipies</a></li>
        <li class="nav-item"><a href="/manage-recipies">Manage recipies</a></li>
      </ul>
      <ul class="flex-item log-item">
        <li class="nav-item"><a href="/login">Log In</a></li>
        <li class="nav-item"><a href="/signup">Sign Up <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
        <li class="nav-item"><a href="/logout">Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  </div> <!-- END NAV ELEM -->

  <!-- FILTER BAR -->
  <form action="/search-recipes" method="POST" id="search_form">
    <div class="container-search-bar">
      <input type="text" id="search-bar" name="search" placeholder="Find your recipe" class="search-bar">
      <!--<input type="submit" value="Search" class="">-->


      <div id="panel" class="panel-recipies hide">
        <div class="bloc-recipies">
          <ul id="results"></ul>
          <span class="img-recipies">
            <img src="./images/riz-djon-djon.jpg" alt="">
          </span>
          <span class="name-recipies">Riz djon djon</span>
          <a href="/see-more" class="see-more-link">See more</a>
        </div>

        <div class="bloc-recipies">
          <span class="img-recipies">
            <img
              src="https://quoi-de-neuf-aujourdhui.seb.fr/wordpress/wp-content/uploads/2017/01/lot7_2_2_article-riz-v3_20.jpg"
              alt="">
          </span>
          <span class="name-recipies">Riz blanc</span>
          <a href="/see-more" class="see-more-link">See more</a>
        </div>

        <div class="bloc-recipies">
          <span class="img-recipies">
            <img src="https://lapetitemarmite.files.wordpress.com/2012/10/1-dsc_0116.jpg" alt="">
          </span>
          <span class="name-recipies">Riz cantonais & boeuf</span>
          <a href="/see-more" class="see-more-link">See more</a>
        </div>
        <a href="/result" class="see-more-link white">See more</a>
      </div>
    </div>
</nav>