<header class="bg-header"></header>
<div class="informations container">
  <h2 class="title center">Informations</h2>
  <div class="flexed-item sp-between">
    <div class="bloc-info">
      <div class="main">
        <h4 class="title-info">Search your recipies</h4>
        <i class="fa fa-search icon" aria-hidden="true"></i>
        <p class="txt-info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

    </div>
    <div class="bloc-info">
      <div class="main">
        <h4 class="title-info">Favorise your desire</h4>
        <i class="fa fa-star-o icon" aria-hidden="true"></i>
        <p class="txt-info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

    </div>
    <div class="bloc-info">
      <div class="main">
        <h4 class="title-info">Add your recipies</h4>
        <i class="fa fa-plus-square-o icon" aria-hidden="true"></i>
        <p class="txt-info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>