{{!-- <nav class="nav">
  <div class="container">
    <div class="flex-elem">
      <a href="/">
        <div class="logo">TASTEOFTHEWORLD</div>
      </a>
      <ul class="flex-item center">
        <li class="nav-item"><a href="/favourite-foods">Favourite foods</a></li>
        <li class="nav-item"><a href="/add-recipies">Add recipies</a></li>
        <li class="nav-item"><a href="/manage-recipies">Manage recipies</a></li>
      </ul>
      <ul class="flex-item log-item">
        <li class="nav-item"><a href="/login">Log In</a></li>
        <li class="nav-item"><a href="/signup">Sign Up <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
        <li class="nav-item"><a href="/logout">Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</nav> --}}
<!-- END NAV ELEM -->

<!-- FILTER BAR -->
<form class="bg-header" action="/search-recipes" method="POST" id="search_form">
  <div class="container-search-bar">
    <input type="text" id="search-bar" name="search" placeholder="Find your recipe" class="search-bar">
    <!--<input type="submit" value="Search" class="">-->
</form>
{{!-- <header class="bg-header"></header> --}}

</div>
<div class="informations container-formations">
  <div class="flexed-item sp-between">
    <div class="bloc-info">
      <div class="main">
        <h4 class="title-info">Search your recipies</h4>
        <i class="fa fa-search icon" aria-hidden="true"></i>
        <p class="txt-info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="bloc-info">
      <div class="main">
        <h4 class="title-info">Favorise your desire</h4>
        <i class="fa fa-star-o icon" aria-hidden="true"></i>
        <p class="txt-info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <div class="bloc-info">
      <div class="main">
        <h4 class="title-info">Add your recipies</h4>
        <i class="fa fa-plus-square-o icon" aria-hidden="true"></i>
        <p class="txt-info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>