<div class="big-container manage-products-wrapper">
  <h3 class="manage-products-title">Manage your added recipes</h3>
  <table class="product-manage-table">
    <thead>
      {{#each recipe}}
      <tr class="table-row">
        <th colspan="1" class="table-head">{{this.image}}</th>
        <th colspan="1" class="table-head">{{this.name}}</th>
        <th colspan="1" class="table-head"> </a> Edit</th>
        <th colspan="1" class="table-head">Delete</th>
      </tr>
      {{/each}}
    </thead>
    <tbody>
    </tbody>
  </table>
</div>