<section class="bloc-result">
  <div class="container-result grid-result">
    <div class="elem-recipies">
      <div class="bloc-img-recipes">
        <img src="./images/riz-djon-djon.jpg" alt="">
      </div>
      <div class="flex-result">
        <div class="bloc-recipes-name">
          <p>Riz djon djon</p>
        </div>
        <div class="bloc-flag-region">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Flag_of_Haiti_%281859%E2%80%931964%29.svg"
            alt="">
        </div>
      </div>
      <a href="/see-more" class="see-more-link">See more</a>
    </div> <!-- End elem-recipies -->

    <div class="elem-recipies">
      <div class="bloc-img-recipes">
        <img
          src="https://quoi-de-neuf-aujourdhui.seb.fr/wordpress/wp-content/uploads/2017/01/lot7_2_2_article-riz-v3_20.jpg"
          alt="">
      </div>
      <div class="flex-result">
        <div class="bloc-recipes-name">
          <p>Riz djon djon</p>
        </div>
        <div class="bloc-flag-region">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Flag_of_Haiti_%281859%E2%80%931964%29.svg"
            alt="">
        </div>
      </div>
      <a href="/see-more" class="see-more-link">See more</a>
    </div> <!-- End elem-recipies -->

    <div class="elem-recipies">
      <div class="bloc-img-recipes">
        <img src="https://lapetitemarmite.files.wordpress.com/2012/10/1-dsc_0116.jpg" alt="">
      </div>
      <div class="flex-result">
        <div class="bloc-recipes-name">
          <p>Riz djon djon</p>
        </div>
        <div class="bloc-flag-region">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Flag_of_Haiti_%281859%E2%80%931964%29.svg"
            alt="">
        </div>
      </div>
      <a href="/see-more" class="see-more-link">See more</a>
    </div> <!-- End elem-recipies -->

    <div class="elem-recipies">
      <div class="bloc-img-recipes">
        <img src="https://laguerite.fr/wp-content/uploads/2019/01/laguerite-fr-recette-riz-saute-poulet.jpg" alt="">
      </div>
      <div class="flex-result">
        <div class="bloc-recipes-name">
          <p>Riz djon djon</p>
        </div>
        <div class="bloc-flag-region">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Flag_of_Haiti_%281859%E2%80%931964%29.svg"
            alt="">
        </div>
      </div>
      <a href="/see-more" class="see-more-link">See more</a>
    </div> <!-- End elem-recipies -->

    <div class="elem-recipies">
      <div class="bloc-img-recipes">
        <img src="./images/riz-djon-djon.jpg" alt="">
      </div>
      <div class="flex-result">
        <div class="bloc-recipes-name">
          <p>Riz djon djon</p>
        </div>
        <div class="bloc-flag-region">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Flag_of_Haiti_%281859%E2%80%931964%29.svg"
            alt="">
        </div>
      </div>
      <a href="/see-more" class="see-more-link">See more</a>
    </div> <!-- End elem-recipies -->

    <div class="elem-recipies">
      <div class="bloc-img-recipes">
        <img
          src="https://quoi-de-neuf-aujourdhui.seb.fr/wordpress/wp-content/uploads/2017/01/lot7_2_2_article-riz-v3_20.jpg"
          alt="">
      </div>
      <div class="flex-result">
        <div class="bloc-recipes-name">
          <p>Riz djon djon</p>
        </div>
        <div class="bloc-flag-region">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Flag_of_Haiti_%281859%E2%80%931964%29.svg"
            alt="">
        </div>
      </div>
      <a href="/see-more" class="see-more-link">See more</a>
    </div> <!-- End elem-recipies -->

    <div class="elem-recipies">
      <div class="bloc-img-recipes">
        <img src="https://lapetitemarmite.files.wordpress.com/2012/10/1-dsc_0116.jpg" alt="">
      </div>
      <div class="flex-result">
        <div class="bloc-recipes-name">
          <p>Riz djon djon</p>
        </div>
        <div class="bloc-flag-region">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Flag_of_Haiti_%281859%E2%80%931964%29.svg"
            alt="">
        </div>
      </div>
      <a href="/see-more" class="see-more-link">See more</a>
    </div> <!-- End elem-recipies -->

    <div class="elem-recipies">
      <div class="bloc-img-recipes">
        <img src="https://lapetitemarmite.files.wordpress.com/2012/10/1-dsc_0116.jpg" alt="">
      </div>
      <div class="flex-result">
        <div class="bloc-recipes-name">
          <p>Riz djon djon</p>
        </div>
        <div class="bloc-flag-region">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Flag_of_Haiti_%281859%E2%80%931964%29.svg"
            alt="">
        </div>
      </div>
      <a href="/see-more" class="see-more-link">See more</a>
    </div> <!-- End elem-recipies -->
  </div>
</section>