<section class="see-more-about-recipies container">
  <div class="bloc-content-ingre">
    <div class="bloc-img-recipe">
      <img src="{{recipe.image}}" alt="">
    </div>
    <div class="bloc-ingredient-country-recipe">
      <div class="ingredients">
        <h2 class="title">Vietnam</h2>
        <div class="bloc-flag">
          <img src="https://chine.in/usb/images/upload/images/flag-china-XL.jpg" alt="">
        </div>
        <div class="bloc-ingredient">
          <h3 class="bold black">ingredients:</h3>
          <ul class="container-ingredients center">
            {{#each recipe.ingredients}}
            <li>{{this}}</li>
            {{/each}}
          </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="bloc-description-recipe container" data-aos="fade-right">
    <h2 class="title center">{{recipe.name}}</h2>
    <p class="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa modi quod ut possimus perspiciatis
      fuga, nam eius unde reprehenderit eos recusandae dolor a minus mollitia animi necessitatibus, provident numquam
      alias! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa modi quod ut possimus perspiciatis
      fuga, nam eius unde reprehenderit eos recusandae dolor a minus mollitia animi necessitatibus, provident numquam
    </p>
  </div>
</section>
<br />
<section class="add-form">
  <form action="/see-more" method="POST" class="container-form bg-form" enctype="multipart/form-data">
    <div class="title-form">
      <h2>Put your comment</h2>
    </div>

    <input type="text" name="username" placeholder="Username"><br />
    <textarea name="description" id="" cols="30" rows="10" placeholder="description" <button class="submit-btn">Submit</button>
  </form>
</section>